//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        
            ul#navbar
                li
                  a(href='/teams') Tabelle
                li
                  a(href='/games') Spielplan
                li
                  a(href='/settings') Settings
                li
                  a(class='active' href='/about') About
                  
            h1 About
            
            h2 Projekt für die Vorlesung NOSQL der Gruppe Skyware
            
            h3 Chris Denneberg
            h3 Marc Misoch
            
            
        