extends layout

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            script(src='/javascripts/jquery2.1.4.js')
            script(src='/javascripts/gamesJS.js')
            a(class='button', href='/games/write/fillDB') FillDBWithGames
            h1= title
                h2 Spiele
                #gamestable
                    table
                        thead 
                            th Team1
                            th Team2
                            th Ergebnis
                            th Ort
                            th Zeit
                            th Saison
                        tbody