//
  Project: 
  Skyware NOSQL FussballProjekt
  Autoren:
  Marc Misoch
  Chris Denneberg

extends layout

doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            script(src='/javascripts/jquery2.1.4.js')
            script(src='/javascripts/global.js')
            h1= "Fußball Ticker"
           
            ul#navbar
                li
                  a(href='/teams') Tabelle
                li
                  a(href='/games') Spiele
                li
                  a(href='/settings') Settings
                li
                  a(href='/about') About

            // USER LIST
            h2 Aktuelle Tabelle
            #playertable
                table
                    thead
                        th Name
                        th Vorname
                        th Tore
                    tbody
                    
            button(type='button', onclick="window.location.href='/teams'") Teams 
            // /USER LIST

        