//
  Project: 
  Skyware NOSQL FussballProjekt
  Autoren:
  Marc Misoch
  Chris Denneberg

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
