//
  Project: 
  Skyware NOSQL FussballProjekt
  Autoren:
  Marc Misoch
  Chris Denneberg
  
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            script(src='/javascripts/jquery2.1.4.js')
            script(src='/javascripts/settingsJS.js')
            ul#navbar
                li
                  a(href='/teams') Tabelle
                li
                  a(href='/games') Spielplan
                li
                  a(class='active' href='/settings') Settings
                li
                  a(href='/about') About
            h1 Settings

            p
                button(class="btn", onclick='FillDatabase("/teams")') FillDBWithTeams
                br                
                button(class="btn", onclick='FillDatabase("/games")') FillDBWithGames
                br                
                button(class="btn", onclick='SimulateMatchday()') SimulateMatchday
                br                
                button(class="btn", onclick='DeleteCollection("/teams")') DeleteTeams
                br                
                button(class="btn", onclick='DeleteCollection("/games")') DeleteGames