extends layout

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            script(src='/javascripts/jquery2.1.4.js')
            script(src='/javascripts/teamsJS.js')
            a(class='button', href='/teams/write/fillDB') FillDBWithTeams
            button(onclick='populateTable(1)') Liga 1
            button(onclick='populateTable(2)') Liga 2
            h1= title
            // USER LIST
            #teamTableWithHeader
                h2 Tabelle 
                #teamtable
                    table
                        thead
                            th Icon
                            th Teamname
                            th Punkte
                        tbody
            #playerTableWithHeader
                h2#playerTableHeader
                #playertable
                    table
                        thead 
                            th Vorname
                            th Nachname
                            th Tore
                        tbody
                    
            // /USER LIST

   