extends layout

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            script(src='/javascripts/jquery2.1.4.js')
            script(src='/javascripts/teamsJS.js')

            ul#navbar
                li
                  a(class='active' href='/teams') Tabelle
                li
                  a(href='/games') Spielplan
                li
                  a(href='/settings') Settings
                li
                  a(href='/about') About


            h1= title
            p
                button(class="btn", onclick='populateTable(1)') Liga 1
                button(class="btn", onclick='populateTable(2)') Liga 2
            // USER LIST
            #teamTableWithHeader
                h2 Tabelle
                #teamtable
                    table#teamTableSort
                        thead
                            th Icon
                            th(class="sortableHeader") Teamname
                            th(class="sortableHeader") Punkte
                        tbody
            #playerTableWithHeader
                h2#playerTableHeader
                #playertable
                    table#playerTableSort
                        thead 
                            th(class="sortableHeader") Vorname
                            th(class="sortableHeader") Nachname
                            th(class="sortableHeader") Position
                            th(class="sortableHeader") Tore
                        tbody
                    
            // /USER LIST

   