extends layout

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            script(src='/javascripts/jquery2.1.4.js')
            script(src='/javascripts/teamsJS.js')
            h1= title
            p Welcome to our test
            // USER LIST
            h2 User List
            #teamtable
                table
                    thead
                        th Icon
                        th Teamname
                    tbody
            // /USER LIST

   