extends layout

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            script(src='/javascripts/jquery2.1.4.js')
            script(src='/javascripts/teamsJS.js')

            ul#navbar
                li
                  a(class='active' href='/teams') Tabelle
                li
                  a(href='/games') Spiele
                li
                  a(href='/settings') Settings
                li
                  a(href='/about') About


            h1= title
            p
                button(onclick='populateTable(1)') Liga 1
                button(onclick='populateTable(2)') Liga 2
            // USER LIST
            #teamTableWithHeader
                h2 Tabelle
                #teamtable
                    table
                        thead
                            th Icon
                            th Teamname
                            th Punkte
                        tbody
            #playerTableWithHeader
                h2#playerTableHeader
                #playertable
                    table
                        thead 
                            th Vorname
                            th Nachname
                            th Tore
                        tbody
                    
            // /USER LIST

   