/*
 * Project: 
 * Skyware NOSQL FussballProjekt
 * Autoren:
 * Marc Misoch
 * Chris Denneberg
 */

body{
    padding:50px;font:14px "Lucida Grande",Helvetica,Arial,sans-serif
}
a{
    color:#00B7FF
}

#teamtable{
    float: left;
    width: 45%;
}

#playerTableWithHeader{
    float: right;
    width: 45%;
}

#teamtable td{
     cursor: pointer
}

#navbar {
     width: 100%;
     position: absolute;
     top: 0;
     left:0;
     }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.middleTh {
    color: red;
}

.btn {
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #166294;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}